
/* This is my nav bar it colors and creates an boder */
.a {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-family:'Courier New', Courier;
    border: 5px solid white;
    border-radius: 5px;
}
/* this alignes my texts */
.b{
  float: left;
  width: 950px;
}
/* This colors my text and aligns it*/
.b a{

    float:left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
/* aligns my img across my screen*/
  } 
  .column {
    float: left;
    width: 33.33%;
    margin-bottom: 100px;
  }
  /* colours and aligns the text*/

.paragraph{
  margin-top: 100px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  font-size: large;
  font-family:'Courier New', Courier;
  color:#fff
}
 /* Colours and aligns the text */
h2{
  font-family:'Courier New', Courier;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}
/* makes the background black*/
body{
  background-color: black;
}
/* aligns the img and the text */
.header{
  margin: 0px 500px; 
}
/* aligns the img in gallery */
img{
padding-top: 5px;
width:60%;
height:60%;
margin-left:70px
}
/* aligns the img in gallery */
div.Player img {
  width: 100%;
  height: auto;
}
/* its colors and agligns the text in gallery */
div.desc {
  padding: 15px;
  text-align: center;
  color:#fff
}

* {
  box-sizing: border-box;
}
 /* aligns the gallery and creates an boder around it*/
.gallery {
  padding: 0px 11px;
  float: left;
  width: 24.99999%;
  height:600px;
  border-radius: 5px;
  border: 5px solid white
}

